<div id="privacity">
    <h1 id="title">Política de privacidad.</h1>

    <p>Informamos a los usuarios del sitio web sobre nuestra política respecto del tratamiento y protección de los datos de carácter personal de los usuarios y clientes que puedan ser recabados por la navegación a través de su sitio web.</p>

    <p>En este sentido, garantizamos el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 15/1999 de 13 de diciembre, de Protección de Datos de Carácter Personal y en el Real Decreto 1720/2007, de 21 diciembre, por el que se aprueba el Reglamento de Desarrollo de la LOPD.</p>

    <p>El uso de esta web implica la aceptación de esta política de privacidad.</p>

    <h1>Recogida, finalidad y tratamientos de datos.</h1>

    <p>Tenemos el deber de informar a los usuarios de nuestro sitio web acerca de la recogida de datos de carácter personal que pueden llevarse a cabo, bien sea mediante el envío de correo electrónico o al cumplimentar el formulario incluido en el sitio web. En este sentido, mariogonzalezduarte.es será considerada como responsable de los datos recabados mediante los medios anteriormente descritos.</p>

    <p>A su vez, informamos a los usuarios de que la finalidad del tratamiento de los datos recabados contempla: La atención de solicitudes realizadas por los usuarios y la inclusión en la agenda de contactos.</p>

    <p>Las operaciones, gestiones y procedimientos técnicos que se realicen de forma automatizada o no automatizada y que posibiliten la recogida, el almacenamiento, la modificación, la transferencia y otras acciones sobre datos de carácter personal, tienen la consideración de tratamiento de datos personales.</p>

    <h1>Comunicación de información a terceros.</h1>

    <p>Informamos a los usuarios de que sus datos personales no serán cedidos a terceras organizaciones, con la salvedad de que dicha cesión de datos este amparada en una obligación legal.</p>

    <h1>Derechos de los usuarios.</h1>

    <p>Si desea ejercer los derechos de acceso, rectificación, cancelación u oposición en los términos establecidos en la Ley Órgánica 15/1999, puede hacerlo enviándonos un email a contacto@mariogonzalezduarte.es.</p>
</div>