<!-- Regular Modal -->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()" (onOpen)="opened()" #modal>
    <modal-header [show-close]="false">
        <h4 class="modal-title">Modal Title</h4>
    	<button type="button" class="close xButtonClose" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">
	        <img src="images/icoCloseModalWindow.png" />
	    </button>
    </modal-header>
    <modal-body>Modal Body</modal-body>
    <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>

<!-- Alert Modal -->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #alertModal>
    <div class="modal-body-alert" [ngClass]="'alert-' + (alertModalDefault.type || 'danger')">
        <div class="alert-content-img">
            <img src="images/icoError.png" *ngIf="alertModalDefault.type == 'danger'">
            <img src="images/icoOK.png" *ngIf="alertModalDefault.type == 'success'">
            <img src="images/icoInfo.png" *ngIf="alertModalDefault.type == 'info'">
        </div>
        <div class="alert-content-txt">
            <div>
                <span class="alertNotificationTitle" [ngClass]="'alert-' + (alertModalDefault.type || 'danger')">{{alertModalDefault.title}}</span>
            </div>
            <div class="alertNotificationMsg">
                <span>{{alertModalDefault.bodyText}}</span>
            </div>
        </div>
    </div>
</modal>

<!-- Loading Modal-->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #loadingModal>
    <modal-body>
        <div class="loadingContent" align="center" style="height: 100%;">
            <img alt="Loading  Content" src="images/loading.gif" />
            <p>Loading</p>
        </div>
    </modal-body>
    <modal-footer [show-default-buttons]="false"></modal-footer>
</modal>
